<div class="top-bar bg-primary-custom text-white py-2">
    <div
        class="container-xxl d-flex justify-content-center align-items-center">
        <div class="d-none d-md-flex align-items-center me-4">
            <img src="assets/svg/profeco.svg" alt="Profeco" class="me-10px"
                height="48px" width="182px">
            <img src="assets/svg/main_banner.svg" alt="Banner"
                height="37px" width="57px">
            <span class="text medium">El internet más premiado de México</span>
        </div>
        <a href="#"
            class="packages text-white fw-bold medium text-decoration-underline">
            Ver paquetes >
        </a>
    </div>
</div>

<nav class="navbar text-white navbar-expand-lg navbar-dark bg-dark py-2">
    <div class="container-xxl">
        <a class="navbar-brand" href="#">
            <img src="assets/svg/totalplay_logo.svg" alt="Totalplay"
                height="66px" width="146px">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#mainMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainMenu">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="#">
                        Nuestras ventajas</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                        data-bs-toggle="dropdown">Paquetes</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                        data-bs-toggle="dropdown">Soporte</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                        data-bs-toggle="dropdown">Servicios</a>
                </li>
            </ul>

            <div class="d-flex align-items-center text-white">
                <span class="me-3 d-none d-xl-block"><i
                        class="bi bi-geo-alt"></i> Ciudad de México</span>
                <button class="btn btn-light btn-rounded fw-bold px-4">
                    <i class="bi bi-person-circle me-2"></i> Cuenta
                </button>
            </div>
        </div>
    </div>
</nav>