<section class="hero-section py-5">
    <div class="container-xxl">
        <div class="row justify-content-center text-center">
            <div class="col-12 col-xxl-10">
                <h1 class="hero-title mb-4">
                    No te pierdas ni un solo momento del Juego con el internet
                    de Totalplay
                </h1>

                <div class="hero-image-container my-4">
                    <img src="assets/images/group_1.png"
                        alt="Servicios Totalplay" class="img-fluid">
                </div>

                <div class="d-flex justify-content-center mb-3">
                    <button
                        class="btn btn-dark btn-cta d-flex align-items-center justify-content-center">
                        Ver Paquetes <i
                            class="bi bi-chevron-right ms-2 small"></i>
                    </button>
                </div>

                <p class="hero-subtitle mb-4">
                    Cuando el partido importa, la conexión también: cada jugada,
                    sin interrupciones.
                </p>

                <div class="d-flex justify-content-center">
                    <div
                        class="d-flex justify-content-center align-items-center gap-4 style-dots py-2 px-4">
                        <span class="dot active"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hero-section-2 py-5">
    <div class="container-xxl">
        <div class="row justify-content-center text-center">
            <div class="col-12 col-xxl-10">
                <h1 class="hero-title mb-4">
                    Nuestros planes mas vendidos
                </h1>

                <div class="hero-image-container my-5">
                    <img src="assets/images/planes.png"
                        alt="Planes" class="img-fluid">
                </div>

                <div class="d-flex justify-content-center ms-3 me-3">
                    <button
                        class="btn btn-more d-flex align-items-center justify-content-center">
                        Explorar más paquetes
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hero-section-2 py-5">
    <div class="container-xxl">
        <div class="row justify-content-center text-center">
            <div class="col-12 col-xxl-10">
                <h1 class="hero-title mb-4">
                    Descubre por qué la velocidad, la potencia y la estabilidad
                    sí importan.
                </h1>

                <p class="hero-subtitle-2 mb-4">
                    Desde el metaverso hasta la inteligencia artificial:
                    respalda en la nube, maneja archivos pesados y ejecuta
                    proyectos digitales con gran rapidez. Sube o descarga 1 TB
                    en menos de 15 minutos.
                </p>

                <div class="hero-image-container my-4">
                    <img src="assets/images/fast_car.png"
                        alt="Velocidad" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hero-section py-5">
    <div class="container-xxl">
        <div class="row justify-content-center text-center">
            <div class="col-12 col-xxl-10">
                <h1 class="hero-title mb-4">
                    Velocidad para los más exigentes.
                </h1>

                <p class="hero-subtitle-2 mb-4">
                    Conectamos al país con fibra punto a punto. Esto nos permite
                    entregar velocidades simétricas reales.
                </p>

                <div class="hero-image-container my-4">
                    <img src="assets/images/group_2.png"
                        alt="Conectividad" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hero-section py-5">
    <div class="container-xxl">
        <div class="row justify-content-center text-center">
            <div class="col-12 col-xxl-10">
                <h1 class="hero-title mb-4">
                    ¿Qué dicen nuestros clientes?
                </h1>

                <div class="hero-image-container my-4">
                    <img src="assets/images/group_3.png"
                        alt="Opiniones" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
