@import "node_modules/bootstrap/scss/bootstrap";

// Breakpoints solicitados
$min-mobile: 375px;
$min-desktop: 1440px;

$grid-breakpoints: (
  xs: 0,
  sm: 375px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px
);

$container-max-width: (
  sm: 340px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;  //Evita scroll horizontal en mobile
}