@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

// Breakpoints solicitados
$min-mobile: 375px;
$min-desktop: 1440px;

$grid-breakpoints: (
  xs: 0,
  sm: 375px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px
);

$container-max-width: (
  sm: 340px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;  //Evita scroll horizontal en mobile
}

$primary-purple: #6E26FF;
$text-black: #000000;
$text-gray: #585858;
$bg-light: #F1F1F1;

:root {
  --bs-body-font-family: 'Montserrat', sans-serif;
}

body {
  background-color: $bg-light;
}